@charset "ISO-8859-1";

body {
	background-color: rgb(252,246,87);
	color: rgb(87,155,252);	
}

footer {
	height:500px;
	background-image: url("#{resource['img:Footer.png']}");
	background-position: center;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}


header{	
	height:500px;
	background-image: url("#{resource['img:Header.png']}");	
	background-position: center;
	background-repeat: no-repeat;	
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

header table{
	padding-top:4em;
	padding-right: 5em;
}

header a {
	color: rgb(252,246,87);
}

body table {
	border-color: rgb(187,105,255);
	border-width: 2px;
	border-style: double;	
}

td{
	padding:5px;	
	border-width: 1px;
	border-style: collapse;
	border-color: rgb(187,105,255);
}

th {
	background-color: rgb(43,39,91);
	color: rgb(252,246,87);
	font-weight:bolder;
	border-width: 1px;
	border-style: collapse;
	border-color: rgb(187,105,255);
}

.mainContent {
	max-width: 1024px;
  	margin: auto;
}

input {
	background-color: rgb(187,105,255);
}

select {
	background-color: rgb(187,105,255);	
}
