@charset "ISO-8859-1";

body {
	background-color: rgb(252,246,87);
	color: rgb(87,155,252);	
}

footer {
	height:500px;
	background-image: url("#{resource['img:Footer.png']}");
	background-position: center;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}


header{	
	height:500px;
	background-image: url("#{resource['img:Header.png']}");	
	background-position: center;
	background-repeat: no-repeat;	
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

header table{
	padding-top:4em;
	padding-right: 5em;
}

header a {
	color: rgb(252,246,87);
}

body table {
	border-color: rgb(187,105,255);
	border-width: 2px;
	border-style: double;	
}

td{
	padding:5px;	
	border-width: 1px;
	border-style: collapse;
	border-color: rgb(187,105,255);
}

th {
	background-color: rgb(43,39,91) !important;
	color: rgb(252,246,87) !important;
	font-weight:bolder;
	border-width: 1px;
	border-style: collapse;
	border-color: rgb(187,105,255);
}

.mainContent {
	max-width: 1024px;
  	margin: auto;
}

.ui-widget-content{
	background-color: rgb(252,246,87) !important;
}

.ui-widget-header {
	background-color: rgb(43,39,91) !important;
	color: rgb(87,155,252) !important;	
}

.ui-paginator {
	color: rgb(252,246,87) !important;
}
body .ui-paginator  {
	color: rgb(252,246,87) !important;
}
body .ui-paginator .ui-paginator-current {
	color: rgb(252,246,87) !important;
}
body .ui-paginator .ui-paginator-first
{
	color: rgb(252,246,87) !important;
}
body .ui-paginator .ui-paginator-prev
{	color: rgb(252,246,87) !important;
}

body .ui-paginator .ui-paginator-next{
	color: rgb(252,246,87) !important;
}
body .ui-paginator .ui-paginator-last{
	color: rgb(252,246,87) !important;
}

body .ui-paginator .ui-paginator-pages .ui-paginator-page {
	background-color: rgb(187,105,255) !important;
	color: rgb(252,246,87) !important;
}

body .ui-inputfield, input {
	color: rgb(252,246,87) !important;
	background-color: rgb(187,105,255)!important;
}

select {
	background-color: rgb(187,105,255);	
}
